# Working with SQL Assignment

## Q1. What is a database? Differentiate between SQL and NoSQL databases.

- DataBase
    - A database is a systematic or organized collection of related information that is stored in such a way that it can be easily accessed, retrieved, managed, and updated.
####
- SQL
    - It is a standard language.
    - These databases are table/relation based databases.
    - The databses are vertical scalable.
    - The are used in complex query intensive environment.
    - Follow ACID model.
####
- NoSQL
    - It posses no declarative query support.
    - These databases can be document based, key-value pairs, or graph databases.
    - The databses are horizontally scalable.
    - The are used where queries are not complex.
    - Follow BASE model.

## Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

- DDL
    - It stands for Data Definition Language
    - These are the SQL statements that are used to define and modify the databse schema.
####
- CREATE
    - It is used to create the database and tables.
        - e.g > create table students(stuid number primary key not null, stuname varchar2(20), stubranch varchar(20));
####
- DROP
    - It is used to delete tables from the databse.
        - e.g > drop table students;
####
- ALTER
    - It is used to alter the database schema.
        - e.g > alter table student add marks number;
####
- TRUNCATE
    - It is used to delete an existing table and free the resources.
        - e.g > truncate table students;

## Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

- DML
    - It stands for Data Manipulation Language.
    - These are the SQL statements used for the manipulation of data present in a database.
####
- INSERT
    - Used to insert tuples/rows into a table.
    - It stands for Data Manipulation Language.
        - e.g > insert into Student values(5, 'Aditya', 'CSE');
####
- UPDATE
    - Used to update tuples/rows in a table.
        - e.g > update Student set name = 'Gargi' where id = 5;
####
- DELETE
    - Used to delete tuples/rows from a table.
        - e.g > delete from Student where id = 5;

## Q4. What is DQL? Explain SELECT with an example.

- DQL
    - It stands for Data Query Language.
    - These SQL statements are used to retrieve schema relation based on the passed query.
####
- SELECT
    - Used to retrieve data basedon the schema relation passed.
        e.g > select * from students;

## Q5. Explain Primary Key and Foreign Key.

- Primary Key
    - It is one or more column(s) in a table used to uniquely identify each row in a table.
    - None of the columns that are part of the primary key contain null value.
    - A table can have only one primary key.
#
- Foreign Key
    - It is a column or a group of columns whose values are derived from the primary/unique key of some other table.

## Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

- The python code to connect MySQL to python.

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(

host="localhost",

user="abc",

password="password"
)

mycursor = mydb.cursor()

mycursor.execute("SQL_QUERY")

- Cursor()
    - It is the mediator between SQL database connection and SQL query.
####
- execute()
    - This method accepts a MySQL query as a parameter and executes the given query.

## Q7. Give the order of execution of SQL clauses in an SQL query.

- The order of the execution of SQL clauses in an SQL query are:
    - from > where > groupBy > having > select > order by > limit